<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @entry.activity.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @entry.score %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @entry.hours %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
